.goalkeeper {
    grid-area: goalkeeper;

    > div {
        display: grid;
        height: 100%;
        place-content: center;
    }
}

.defense {
    grid-area: defense;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas:
        "f-lwb f-lb f-cb f-rb f-rwb"
        "lwb lb cb rb rwb";

    > div {
        display: grid;
        place-content: center;
    }
}

.midfield {
    grid-area: midfield;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas:
        "lw lcam cam rcam rw"
        "lm lcm cm rcm rm"
        "ldm lcdm cdm rcdm rdm";

    > div {
        display: grid;
        place-content: center;
    }
}

.attack {
    grid-area: attack;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "lwf ls st rs rwf"
        "lf lcf cf rcf rf";

    > div {
        display: grid;
        place-content: center;
    }
}

.layout {
    position: relative;
    padding: 2rem;
    display: grid;
    grid-template-rows: 2fr 3fr 1.5fr 0.5fr;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 30rem;
    height: 40rem;
    border: 1px solid;
    grid-template-areas:
        "attack"
        "midfield"
        "defense"
        "goalkeeper";
}

// FORMATIONS
// ----------

// DEFENSE
// -------

.form4-4-2,
.form4-4-2-diamond,
.form4-3-3,
.form4-4-1-1,
.form4-3-2-1 {
    .defense {
        .player-1 {
            border: 1px solid blue;
            grid-area: f-lwb;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: lb;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rb;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: f-rwb;
        }
    }
}

.form3-4-3 {
    .defense {
        .player-1 {
            border: 1px solid blue;
            grid-area: f-lb;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: cb;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: f-rb;
        }
    }
}

.form5-3-2 {
    .defense {
        .player-1 {
            border: 1px solid blue;
            grid-area: f-lwb;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: lb;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: cb;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: rb;
        }

        .player-5 {
            border: 1px solid blue;
            grid-area: f-rwb;
        }
    }
}

// MIDFIELD
// --------
.form4-4-2 {
    .midfield {
        .player-1 {
            border: 1px solid blue;
            grid-area: lw;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: lcm;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rcm;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: rw;
        }
    }
}

.form4-4-1-1 {
    .midfield {
        .player-1 {
            border: 1px solid blue;
            grid-area: lm;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: lcm;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rcm;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: rm;
        }

        .player-5 {
            border: 1px solid blue;
            grid-area: cam;
        }
    }
}

.form3-4-3 {
    .midfield {
        .player-1 {
            border: 1px solid blue;
            grid-area: lm;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: lcm;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rcm;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: rm;
        }
    }
}

.form4-3-2-1 {
    .midfield {
        .player-1 {
            border: 1px solid blue;
            grid-area: lm;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: lcam;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: cm;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: rcam;
        }

        .player-5 {
            border: 1px solid blue;
            grid-area: rm;
        }
    }
}

.form4-4-2-diamond {
    .midfield {
        .player-1 {
            border: 1px solid blue;
            grid-area: lm;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: cdm;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: cam;
        }

        .player-4 {
            border: 1px solid blue;
            grid-area: rm;
        }
    }
}

.form4-3-3,
.form5-3-2 {
    .midfield {
        .player-1 {
            border: 1px solid blue;
            grid-area: lm;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: cm;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rm;
        }
    }
}

// ATTACK
// ------
.form4-4-2,
.form4-4-2-diamond,
.form5-3-2 {
    .attack {
        .player-1 {
            border: 1px solid blue;
            grid-area: lcf;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: rcf;
        }
    }
}

.form4-3-3 {
    .attack {
        .player-1 {
            border: 1px solid blue;
            grid-area: lf;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: cf;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rf;
        }
    }
}

.form3-4-3 {
    .attack {
        .player-1 {
            border: 1px solid blue;
            grid-area: lf;
        }

        .player-2 {
            border: 1px solid blue;
            grid-area: st;
        }

        .player-3 {
            border: 1px solid blue;
            grid-area: rf;
        }
    }
}

.form4-4-1-1 {
    .attack {
        .player-1 {
            border: 1px solid blue;
            grid-area: cf;
        }
    }
}

.form4-3-2-1 {
    .attack {
        .player-1 {
            border: 1px solid blue;
            grid-area: st;
        }
    }
}
